body {
    font-family: 'Industry, sans-serif';
    font-weight: 500;
}

.MuiPaper-root {
    background-color: #202124 !important;
    border: none !important;
    border-bottom: 1px solid grey !important;
    color: white !important;
    /* box-shadow: rgb(35 35 35 / 15%) 0px 2px 10px !important; */
}

.MuiToolbar-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MuiButton-label {
    color: white !important;
}

.main-notification {
    display: flex;
    flex-direction: row;
}

.wallet-adapter-button-trigger {
    background-color: #393e46 !important;
    height: 32px !important;
    border: 1px solid white !important;
    z-index: 1;
}

.main-logo {
    z-index: 1;
}

.main-links {
    /* width: calc(100vw - 65px); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0;
    margin-top: 20px;
}

.main-links .MuiTypography-root {
    color: white;
    font-weight: 700;
    text-transform: none !important;
}

.main-links a {
    color: white;
    text-decoration: none;
}

.main-cart {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.purchase-cart {
    /* scale: 0.25; */
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.complete-cart {
    /* scale: 0.25; */
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.main-cart .cart-count {
    /* background-color : #2f2e2e */
}

.cart-count {
    left: 64%;
    top: -4px;
    border-radius: 50%;
    background-color: rgb(122, 31, 81);
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    width: 15px;
    height: 15px;
    position: absolute
}